::selection {
    background-color: hsla(0, 0%, 0%, 0.5);
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

@media print {
    .print-hidden {
        display: none;
    }
}

.dropdown-menu-custom {
    padding: 17px;
    width: 200px;
}

.navbar-input-group {
  font-size: 0px;
}

.navbar-input-group input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar-input-group .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 0px;
}

.search-highlight {
    background-color: #f0ad4e;
    padding: .2em .6em .3em;
    color: #fff;
    border-radius: .25em;
}